certifi==2018.10.15
chardet==3.0.4
Django==1.9.5
gunicorn==19.9.0
idna==2.7
oauthlib==2.1.0
PyJWT==1.6.4
python-openid==2.2.5
python-social-auth==0.2.14
requests==2.20.1
requests-oauthlib==1.0.0
six==1.11.0
urllib3==1.24.1
whitenouse==4.1.2
dj-database-url==0.4.0
psycopg2==2.6.1
