.container {
  width: 1100px;
}

body {
  padding-top: 80px;
}

#category {
  padding: 5px 15px;
  height: 30px;
  max-resolution: 20px;
}

#mainpage {
  background-color: #f7f7f7;
  padding-top: 20px;
}

#footer {
  padding: 20px 0;
}
